<!DOCTYPE html>

<html size="{{ labelSize }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {# External css doesn't work when creating pdf file
        <link href="{{ absolute_url(asset("build/label_style.css")) }}" rel="stylesheet" type="text/css">
        #}
        <style>
            @page {
                size: {{ labelSize }} {{ css_orientation }};
                margin: 0;
            }

            body { 
                font-family: DejaVu Sans;
            }
              
            .label {
                margin: 0 0;
                background-color: white;
                border: 0.05cm solid black;
                position: absolute;
                left: 0px; 
                right: 0px; 
                overflow: hidden;
            }

            /* all sizes are reduced by 1mm border */ 
            
            .label[size="A4"][orientation="vertical"] {
                width: 209mm;
                height: 296mm;
            }

            .label[size="A4"][orientation="horizontal"] {
                width: 296mm;
                height: 209mm;
            }

            .label[size="A5"][orientation="vertical"] {
                width: 147mm;
                height: 209mm;
            }

            .label[size="A5"][orientation="horizontal"] {
                width: 209mm;
                height: 147mm;
            }

            .label[size="A6"][orientation="vertical"] {
                width: 104mm;
                height: 147mm;
            }

            .label[size="A6"][orientation="horizontal"] {
                width: 147mm;
                height: 104mm;
            }

            .label[size="A7"][orientation="vertical"] {
                width: 73mm;
                height: 104mm;
            }

            .label[size="A7"][orientation="horizontal"] {
                width: 104mm;
                height: 73mm;
            }

            .content {
                margin: 0 0;
                font-size: {{ fontSize }}pt;
                overflow: hidden;
            }

            .label[orientation="vertical"] .content {
                width: 100%;
                height: {{ 100 - qrSize }}%;
            }

            .label[orientation="horizontal"] .content {
                width: {{ 100 - qrSize }}%;
                height: 100%;
                float: left;
            }

            h2 {
                margin: 0;
                padding: 0.7em 0;
                text-align: center;
            }

            p {
                margin: 0;
                padding: 0;
                padding-left: 1em;
                padding-right: 1em;
                padding-bottom: 0.7em;
                text-align: {{ textAlignment }};
            }

            p:first-child {
                padding-top: 1em;
            }

            p:last-child {
                padding-bottom: 0;
            }

            .qrCode {
                position: relative;
            }

            .label[orientation="vertical"] .qrCode {
                height: {{ qrSize }}%;
                width: 100%;
            }

            .label[orientation="horizontal"] .qrCode{
                width: {{ qrSize }}%;
                height: 100%;
                float: left;
            }

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        </style>
    </head>

    <body>
        <div class="label" size="{{ labelSize }}" orientation="{{ orientation }}">
            <div class="content">
                <h2>{{ objectName }}</h2>
                {% for datum in objectData %}
                    <p>
                       <b>{{ datum.label }}:</b> {{ datum.value }}
                    </p>
                {% endfor %}
            </div>
            <div class="qrCode">
                <img src="{{ qrCode }}">
            </div>
        </div>
        
    </body>
</html>
