{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], collection, 'breadcrumb.add_generate_label') %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.generate_label_collection'|trans({'collection': collection.title}) }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form) }}
        <h3 class="header col s12">{{ 'title.label_settings'|trans }}</h3>
        <div class="row">
            <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                {{ form_row(form.labelSize, {'label' : 'label.labels_label_size', 'attr': {'data-controller': 'select--default'}} ) }}
                {{ form_row(form.orientation, {'label' : 'label.labels_orientation', 'attr': {'data-controller': 'select--default'}} ) }}
                {{ form_row(form.fontSize, {'label' : 'label.labels_font_size'} ) }}
                {{ form_row(form.qrSize, {'label' : 'label.labels_qr_size'} ) }}
                {{ form_row(form.textAlignment, {'label' : 'label.labels_text_alignment', 'attr': {'data-controller': 'select--default'}} ) }}
            </div>
        </div>

        {% if form.selectAllItems is defined and form.object is defined %}
        <h3 class="header col s12">Selection of items</h3>
        <div class="row">
            <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                <strong>{{ form_row(form.selectAllItems, {'label' : 'label.labels_select_deselect_all', 'attr': {'class': 'selectAllItems'}}) }}</strong>
                <hr>
            </div>
            {% for item in form.object.children|sort %}
                {% if loop.index is divisible by(2) %}
                    <div class="col s12 l5 xl4">
                {% else %}
                    <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                {% endif %}
                    {{ form_row(item, {'attr': {'class': 'itemCheck'}}) }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <h3 class="header col s12">{{ 'title.selection_of_fields'|trans }}</h3>
        <div class="row">
            <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                <strong>{{ form_row(form.selectAllFields, {'label' : 'label.labels_select_deselect_all', 'attr': {'class': 'selectAllFields'}}) }}</strong>
                <hr>
            </div>
            {% for field in form.fields.children|sort %}
                {% if loop.index is divisible by(2) %}
                    <div class="col s12 l5 xl4">
                {% else %}
                    <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                {% endif %}
                    {{ form_row(field, {'attr': {'class': 'fieldCheck'}}) }}
                </div>
            {% endfor %}
        </div>

        <div class="center-align form-btn-holder">
            <button type="submit" class="btn waves-effect waves-light">{{ 'btn.download'|trans }}</button>
            <a href="{{ path('app_collection_show', { id : collection.id }) }}"
               class="waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const selectAllItems = document.querySelector(".selectAllItems");
            const selectAllFields = document.querySelector(".selectAllFields");

            if (selectAllItems != null) {
                selectAllItems.addEventListener("click", () => {
                    const items = document.querySelectorAll(".itemCheck");
                    const state = selectAllItems.checked ? true : false;
                    items.forEach(item => item.checked = state);
                });
            }

            if (selectAllFields != null) {
                selectAllFields.addEventListener("click", () => {
                    const fields = document.querySelectorAll(".fieldCheck");
                    const state = selectAllFields.checked ? true : false;
                    fields.forEach(field => field.checked = state);
                });
            }
        });
    </script>
{% endblock %}